.contact-form {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.contact-form h3 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.6rem;
  color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  box-sizing: border-box;
  margin-top: 0.25rem;
}

textarea {
  resize: vertical;
}

button {
  padding: 1rem 2rem;
  background-color: #cc141d;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 1rem;
}

button:hover {
  background-color: #9b1116;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background: #333;
  color: white;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table td {
  padding: 1rem;
  vertical-align: top;
  text-align: left;
}

table td label {
  font-size: 1.6rem;
  color: #333;
  display: block;
  margin-bottom: 0.25rem;
}

table td input,
table td textarea,
table td select {
  width: calc(100% - 2rem);
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin-top: 0.25rem;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  padding: 1rem 2rem;
  background-color: #cc141d;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  width: 100%;
}

button:hover {
  background-color: #9b1116;
}
